<h1>Patron page</h1>

<a href="#">Your Checkouts</a>

<a href="/patron/form">Add New Patron</a>

<h3>List of books:</h3>
<% if @books.any?() %>
<ul>
  <% @books.each() do |book| %>
    <li><a href="/catalog/<%= book.id() %>"><%= book.author() %> , <%= book.title() %></a></li>
    <li><%= book.patron_id() %></li>
    <li><%= book.id() %></li>
    <br>
  <% end %>
</ul>

<% else %>

<p>
  There are no books available!
</p>

<% end %>
